@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h1>Calculadora de vencimento líquido</h1>

<EditForm Model="@calculatorModel" OnValidSubmit="@Calcular">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="row">
        <fieldset class="col-md-6">
            <legend>Agregado Familiar</legend>
            <div class="mb-3">
                <label for="inputDependentes" class="form-label">Dependentes</label>
                <InputNumber type="number" @bind-Value="calculatorModel.NumberOfDependents" class="form-control" id="inputDependentes"/>
            </div>
            <div class="mb-3 form-check">
                <InputCheckbox @bind-Value="calculatorModel.SingleParentFamily" class="form-check-input" id="inputMonoparental"/>
                <label for="inputMonoparental" class="form-label">Família Monoparental</label>
            </div>
        </fieldset>
        <fieldset class="col-md-6">
            <legend>Rendimentos</legend>
            <div class="mb-3">
                <label for="inputVencimento" class="form-label">Vencimento Anual</label>
                <InputNumber type="number" @bind-Value="calculatorModel.Income" class="form-control" id="inputVencimento" aria-describedby="ajudaVencimento"/>
                <div id="ajudaVencimento" class="form-text text-muted">Vencimento bruto anual (vencimento mensal * 14 meses)</div>
            </div>
            <div class="mb-3">
                <label for="inputDeducoes" class="form-label">Deduções à Coleta</label>
                <InputNumber type="number" @bind-Value="calculatorModel.Deductions" class="form-control" id="inputDeducoes" aria-describedby="ajudaDeducoes"/>
                <div id="ajudaDeducoes" class="form-text text-muted">Todas as deduções à coleta no modelo actual</div>
            </div>
        </fieldset>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center p-3">
        <button type="submit" class="btn btn-primary">Calcular</button>
    </div>
</EditForm>

@if (IsSummaryVisible)
{
    <table class="table table-bordered">
        <col style="width: 40%">
        <col style="width: 30%">
        <col style="width: 30%">
        <thead class="table-light">
        <tr>
            <th></th>
            <th scope="col" class="text-center">Flat Tax</th>
            <th scope="col" class="text-center">Modelo Atual</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Custo para a empresa</th>
            <td colspan="2" class="text-center">@($"{CompanyCost:N2}€")</td>
        </tr>
        <tr>
            <th scope="row">Deduções Específicas</th>
            <td class="text-center">
                @($"{-TaxSummaryFlat.Deductions:N2}€")
                <small class="text-muted" title="200€ por dependente, 400€ por dependente para famílias monoparentais">(+ info)</small>
            </td>
            <td class="text-center">
                @($"{-TaxSummaryProgressivos.Deductions:N2}€")
            </td>
        </tr>
        <tr>
            <th scope="row">Rendimento coletável</th>
            <td class="text-center">
                @($"{TaxSummaryFlat.Taxable:N2}€")
                <small class="text-muted" title="Isenção de 9870€ (705€ x 14)">(+ info)</small>
            </td>
            <td class="text-center">@($"{TaxSummaryProgressivos.Taxable:N2}€")</td>
        </tr>
        <tr>
            <th scope="row">Taxa aplicável</th>
            <td class="text-center">@($"{TaxSummaryFlat.Rate:P2}")</td>
            <td class="text-center">@($"{TaxSummaryProgressivos.Rate:P2}")</td>
        </tr>
        <tr>
            <th scope="row">Coleta</th>
            <td class="text-center">@($"{-TaxSummaryFlat.EffectiveTaxes:N2}€")</td>
            <td class="text-center">@($"{-(TaxSummaryProgressivos.EffectiveTaxes):N2}€")</td>
        </tr>
        <tr>
            <th scope="row">Rendimento Líquido de IRS</th>
            <td class="text-center">@($"{TaxSummaryFlat.NetIncome:N2}€")</td>
            <td class="text-center">@($"{TaxSummaryProgressivos.NetIncome:N2}€")</td>
        </tr>
        <tr>
            <th scope="row">Taxa Efectiva</th>
            <td class="text-center">@($"{TaxSummaryFlat.EffectiveRate:P2}")</td>
            <td class="text-center">@($"{TaxSummaryProgressivos.EffectiveRate:P2}")</td>
        </tr>
        <tr>
            <th scope="row">Contribuições para a Segurança Social</th>
            <td colspan="2" class="text-center">@($"€-{SocialSecurity:N2}")</td>
        </tr>
        </tbody>
        <tfoot class="table-light">
        <tr class="fw-bold">
            <th scope="row">Rendimento Líquido (Anual)</th>
            <td class="text-center">@($"{TaxSummaryFlat.NetIncome - SocialSecurity:N2}€")</td>
            <td class="text-center">@($"{TaxSummaryProgressivos.NetIncome - SocialSecurity:N2}€")</td>
        </tr>
        <tr class="fw-bold">
            <th scope="row">Rendimento Líquido (Mensal)</th>
            <td class="text-center">@($"{((TaxSummaryFlat.NetIncome - SocialSecurity)/14):N2}€")</td>
            <td class="text-center">@($"{((TaxSummaryProgressivos.NetIncome - SocialSecurity)/14):N2}€")</td>
        </tr>
        </tfoot>
    </table>

    <h2 class="alert alert-success text-center">Aumento líquido de @($"{RaiseInPercentage:P2}"): @($"{RaiseInEuros:N2}€")/ano ou @($"{(RaiseInEuros/14):N2}€")/mês</h2>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <SocialSharing Message="@SocialSharingMessage"/>
        <a class="btn btn-secondary" href="https://iniciativaliberal.pt/legislativas-2022/programa-eleitoral/" target="_blank" role="button">Programa Eleitoral Legislativas 2022</a>
    </div>
}