@inject IAnalytics Analytics

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h1>Calculadora de vencimento líquido</h1>

<EditForm Model="@calculatorModel" OnValidSubmit="@Calcular">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="row">
        <fieldset class="col-md-6">
            <legend>Agregado Familiar</legend>
            <div class="mb-3">
                <label for="inputLocalizacao" class="form-label">Localização</label>
                <InputSelect class="form-select" @bind-Value="calculatorModel.Location" id="inputLocalizacao">
                    <option value="@Location.Continente">Continente</option>
                    <option value="@Location.Acores">Açores</option>
                    <option value="@Location.Madeira">Madeira</option>
                </InputSelect>
            </div>
            <div class="mb-3">
                <label for="inputSituacao" class="form-label">Situação</label>
                <InputSelect class="form-select" @bind-Value="calculatorModel.Situation" id="inputSituacao">
                    <option value="@Situation.NaoCasado">Não Casado</option>
                    <option value="@Situation.CasadoUnico">Casado, Titular Único</option>
                    <option value="@Situation.CasadoDois">Casado, Dois Titulares</option>
                </InputSelect>
            </div>
            <div class="mb-3">
                <label for="inputDependentes" class="form-label">Dependentes</label>
                <InputNumber type="number" @bind-Value="calculatorModel.NumberOfDependents" class="form-control" id="inputDependentes"/>
            </div>
            <div class="mb-3 form-check">
                <InputCheckbox @bind-Value="calculatorModel.SingleParentFamily" class="form-check-input" id="inputMonoparental"/>
                <label for="inputMonoparental" class="form-label">Família Monoparental</label>
            </div>
        </fieldset>
        <fieldset class="col-md-6">
            <legend>Rendimentos</legend>
            <label for="inputVencimento" class="form-label">Vencimento Base</label>
            <InputNumber type="number" @bind-Value="calculatorModel.Income" class="form-control" id="inputVencimento" aria-describedby="ajudaVencimento"/>
            <div id="ajudaVencimento" class="form-text text-muted">Vencimento bruto mensal (vencimento anual / 14 meses)</div>
        </fieldset>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center p-3">
        <button type="submit" class="btn btn-primary">Calcular</button>
    </div>
</EditForm>

@if (IsSummaryVisible)
{
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th></th>
            <th scope="col" class="text-center">Flat Tax</th>
            <th scope="col" class="text-center">Progressivo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Dedução</th>
            <td class="text-center">@($"{-TaxSummaryFlat.Deduction:N2}€")</td>
            <td class="text-center">Variável</td>
        </tr>
        <tr>
            <th scope="row">Rendimento tributável</th>
            <td class="text-center">@($"{TaxSummaryFlat.Taxable:N2}€")</td>
            <td class="text-center">@($"{TaxSummaryProgressivos.Taxable:N2}€")</td>
        </tr>
        <tr>
            <th scope="row">Rate de IRS</th>
            <td class="text-center">@($"{TaxSummaryFlat.Rate:P2}")</td>
            <td class="text-center">@($"{TaxSummaryProgressivos.Rate:P2}")</td>
        </tr>
        <tr>
            <th scope="row">Retenção de IRS</th>
            <td class="text-center">@($"{-TaxSummaryFlat.Retention:N2}€")</td>
            <td class="text-center">@($"{-TaxSummaryProgressivos.Retention:N2}€")</td>
        </tr>
        <tr>
            <th scope="row">Segurança Social</th>
            <td colspan="2" class="text-center">@($"€-{SocialSecurity:N2}")</td>
        </tr>
        <tr>
            <th scope="row">Custo para a empresa</th>
            <td colspan="2" class="text-center">@($"{CompanyCost:N2}€")</td>
        </tr>
        </tbody>
        <tfoot class="table-light">
        <tr class="fw-bold">
            <th scope="row">Vencimento Líquido</th>
            <td class="text-center">@($"{TaxSummaryFlat.NetIncome - SocialSecurity:N2}€")</td>
            <td class="text-center">@($"{TaxSummaryProgressivos.NetIncome - SocialSecurity:N2}€")</td>
        </tr>
        </tfoot>
    </table>

    <h2 class="alert alert-success text-center">Aumento líquido mensal: @($"{RaiseInEuros:N2}€") @($"({RaiseInPercentage:P2})")</h2>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-secondary" href="https://iniciativaliberal.pt/legislativas-2022/programa-eleitoral/" target="_blank" role="button">Programa Eleitoral Legislativas 2022</a>
    </div>
}

@if (IsWarningVisible)
{
    <h2 class="alert alert-warning text-center">Ainda não é possível efetuar a comparação nos Açores e na Madeira.</h2>
}
