@inject ICalculadorImpostosProgressivos CalculadorImpostosProgressivos
@inject ICalculadorImpostosFlat CalculadorImpostosFlat

@inject IAnalytics Analytics

<h1>Calculadora de vencimento líquido</h1>

<EditForm Model="@DadosCalculo" OnValidSubmit="@Calcular">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="row">
        <fieldset class="col-md-6">
            <legend>Agregado Familiar</legend>
            <label for="inputLocalizacao" class="form-label">Localização</label>
            <InputSelect class="form-select" @bind-Value="DadosCalculo.Localizacao" id="inputLocalizacao">
                <option value="@Localizacao.Continente">Continente</option>
                <option value="@Localizacao.Acores">Açores</option>
                <option value="@Localizacao.Madeira">Madeira</option>
            </InputSelect>
            <label for="inputSituacao" class="form-label">Situação</label>
            <InputSelect class="form-select" @bind-Value="DadosCalculo.Situacao" id="inputSituacao">
                <option value="@Situacao.NaoCasado">Não Casado</option>
                <option value="@Situacao.CasadoUnico">Casado, Titular Único</option>
                <option value="@Situacao.CasadoDois">Casado, Dois Titulares</option>
            </InputSelect>
            <label for="inputDependentes" class="form-label">Dependentes</label>
            <InputNumber type="number" @bind-Value="DadosCalculo.Dependentes" class="form-control" id="inputDependentes"/>
        </fieldset>
        <fieldset class="col-md-6">
            <legend>Rendimentos</legend>
            <label for="inputVencimento" class="form-label">Vencimento Base</label>
            <InputNumber type="number" @bind-Value="DadosCalculo.VencimentoBase" class="form-control" id="inputVencimento" aria-describedby="ajudaVencimento"/>
            <div id="ajudaVencimento" class="form-text text-muted">Vencimento bruto mensal (vencimento anual / 14 meses)</div>
        </fieldset>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center p-3">
        <button type="submit" class="btn btn-primary">Calcular</button>
    </div>
</EditForm>

@if (sumarioVisivel)
{
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th></th>
            <th scope="col" class="text-center">Flat Tax</th>
            <th scope="col" class="text-center">Progressivo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Rendimento tributável</th>
            <td class="text-center">@($"{sumarioImpostosFlat.Tributavel:N2}€")</td>
            <td class="text-center">@($"{sumarioImpostosProgressivos.Tributavel:N2}€")</td>
        </tr>
        <tr>
            <th scope="row">Taxa de IRS</th>
            <td class="text-center">@($"{sumarioImpostosFlat.Taxa:P2}")</td>
            <td class="text-center">@($"{sumarioImpostosProgressivos.Taxa:P2}")</td>
        </tr>
        <tr>
            <th scope="row">Retenção de IRS</th>
            <td class="text-center">@($"-{sumarioImpostosFlat.Retencao:N2}€")</td>
            <td class="text-center">@($"-{sumarioImpostosProgressivos.Retencao:N2}€")</td>
        </tr>
        <tr>
            <th scope="row">Segurança Social</th>
            <td colspan="2" class="text-center">@($"-€{segurancaSocial:N2}")</td>
        </tr>
        <tr>
            <th scope="row">Custo para a empresa</th>
            <td colspan="2" class="text-center">@($"{custoParaEmpresa:N2}€")</td>
        </tr>
        </tbody>
        <tfoot class="table-light">
        <tr class="fw-bold">
            <th scope="row">Vencimento Líquido</th>
            <td class="text-center">@($"{sumarioImpostosFlat.VencimentoLiquido - segurancaSocial:N2}€")</td>
            <td class="text-center">@($"{sumarioImpostosProgressivos.VencimentoLiquido - segurancaSocial:N2}€")</td>
        </tr>
        </tfoot>
    </table>

    <h2 class="alert alert-success text-center">Aumento líquido mensal: @($"{sumarioImpostosFlat.VencimentoLiquido - sumarioImpostosProgressivos.VencimentoLiquido:N2}€")</h2>
}

@code {
    private readonly DadosCalculo DadosCalculo = new();

    private decimal segurancaSocial;
    private decimal custoParaEmpresa;

    private SumarioImpostos sumarioImpostosFlat = new();
    private SumarioImpostos sumarioImpostosProgressivos = new();

    private bool sumarioVisivel = false;

    private void Calcular()
    {
        Analytics.TrackEvent("comparar", new { vencimento = DadosCalculo.VencimentoBase.ToString() });

        sumarioVisivel = true;

        sumarioImpostosFlat = CalculadorImpostosFlat.Calcular(DadosCalculo.VencimentoBase, DadosCalculo.Dependentes);
        sumarioImpostosProgressivos = CalculadorImpostosProgressivos.Calcular(DadosCalculo.VencimentoBase, DadosCalculo.Localizacao, Categoria.Dependente, DadosCalculo.Situacao, false, DadosCalculo.Dependentes);

        segurancaSocial = DadosCalculo.VencimentoBase * DadosCalculo.TaxaSegurancaSocial;
        custoParaEmpresa = DadosCalculo.VencimentoBase + DadosCalculo.VencimentoBase * DadosCalculo.TaxaSegurancaSocialEmpresa;
    }

}