@page "/comparar"

@inject ICalculadorImpostosProgressivos CalculadorImpostosProgressivos
@inject ICalculadorImpostosFlat CalculadorImpostosFlat

@inject IAnalytics Analytics

<h1>Comparação de vencimento líquido</h1>

<div style="padding: 1.5rem">
    <EditForm Model="@DadosCalculo" OnValidSubmit="@Calcular">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h2>Agregado Familiar</h2>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="inputLocalizacao">Localização</label>
                    <InputSelect class="form-control" @bind-Value="DadosCalculo.Localizacao" id="inputLocalizacao">
                        <option>Continente</option>
                        <option>Açores</option>
                        <option>Madeira</option>
                    </InputSelect>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="inputSituacao">Situação</label>
                    <InputSelect class="form-control" @bind-Value="DadosCalculo.Situacao" id="inputSituacao">
                        <option value="@Situacao.NaoCasado">Não Casado</option>
                        <option value="@Situacao.CasadoUnico">Casado, Titular Único</option>
                        <option value="@Situacao.CasadoDois">Casado, Dois Titulares</option>
                    </InputSelect>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="inputDependentes">Dependentes</label>
                    <InputNumber type="number" @bind-Value="DadosCalculo.Dependentes" class="form-control" id="inputDependentes" />
                </div>
            </div>
        </div>
        <h2>Rendimentos</h2>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="inputVencimento">Vencimento Base</label>
                    <InputNumber type="number" @bind-Value="DadosCalculo.VencimentoBase" class="form-control" id="inputVencimento" aria-describedby="ajudaVencimento" />
                    <small id="ajudaVencimento" class="form-text text-muted">Vencimento bruto mensal (vencimento anual / 14 meses)</small>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Comparar</button>
    </EditForm>
</div>

<table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th scope="col" class="text-center">Flat Tax</th>
            <th scope="col" class="text-center">Progressivo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Rendimento tributável</th>
            <td class="text-center">@($"{sumarioImpostosFlat.Tributavel:N2}€")</td>
            <td class="text-center">@($"{sumarioImpostosProgressivos.Tributavel:N2}€")</td>
        </tr>
        <tr>
            <th scope="row">Taxa de IRS</th>
            <td class="text-center">@($"{sumarioImpostosFlat.Taxa:P2}")</td>
            <td class="text-center">@($"{sumarioImpostosProgressivos.Taxa:P2}")</td>
        </tr>
        <tr>
            <th scope="row">Segurança Social</th>
            <td colspan="2" class="text-center">@($"-€{segurancaSocial:N2}")</td>
        </tr>
        <tr>
            <th scope="row">Retenção de IRS</th>
            <td class="text-center">@($"-{sumarioImpostosFlat.Retencao:N2}€")</td>
            <td class="text-center">@($"-{sumarioImpostosProgressivos.Retencao:N2}€")</td>
        </tr>
        <tr>
            <th scope="row">Vencimento Líquido</th>
            <td class="text-center"><strong>@($"{sumarioImpostosFlat.VencimentoLiquido - segurancaSocial:N2}€")</strong></td>
            <td class="text-center"><strong>@($"{sumarioImpostosProgressivos.VencimentoLiquido - segurancaSocial:N2}€")</strong></td>
        </tr>
        <tr>
            <th scope="row">Custo para a empresa</th>
            <td colspan="2" class="text-center">@($"{custoParaEmpresa:N2}€")</td>
        </tr>
    </tbody>
</table>

<h2 class="alert alert-success text-center">Aumento líquido mensal: @($"{sumarioImpostosFlat.VencimentoLiquido - sumarioImpostosProgressivos.VencimentoLiquido:N2}€")</h2>

@code {
    private DadosCalculo DadosCalculo = new DadosCalculo();

    private decimal segurancaSocial;
    private decimal custoParaEmpresa;

    private SumarioImpostos sumarioImpostosFlat = new SumarioImpostos();
    private SumarioImpostos sumarioImpostosProgressivos = new SumarioImpostos();


    private void Calcular()
    {
        Analytics.TrackEvent("calcular", DadosCalculo.VencimentoBase.ToString(), "comparar");

        segurancaSocial = DadosCalculo.VencimentoBase * DadosCalculo.TaxaSegurancaSocial;
        custoParaEmpresa = DadosCalculo.VencimentoBase + DadosCalculo.VencimentoBase * DadosCalculo.TaxaSegurancaSocialEmpresa;
        sumarioImpostosProgressivos = CalculadorImpostosProgressivos.Calcular(DadosCalculo.VencimentoBase, DadosCalculo.Localizacao, Categoria.TrabalhadorDependente, DadosCalculo.Situacao, false, DadosCalculo.Dependentes);
        sumarioImpostosFlat = CalculadorImpostosFlat.Calcular(DadosCalculo.VencimentoBase, DadosCalculo.Dependentes);
    }

}